<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <h2>Avaible widget</h2>
            <hr />
            {{ knp_menu_render('widget_menu') }}
            <hr />
        </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block teckhouse_analytics_widget_content %}
            {% endblock teckhouse_analytics_widget_content %}
        </div>
    </body>
</html>
