{% block content %}

<form action="{{ path('teckhouse_analytics_widget_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock content %}