{% extends "TeckHouseAnalyticsBundle::layout.html.twig" %}

{% block teckhouse_analytics_widget_content %}

<form action="{{ path('teckhouse_analytics_widget_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock teckhouse_analytics_widget_content %}